@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,300&display=swap');

/* styles-light.css */
:root {
  --background-color: white;
  --accent-color: #c72f1b;
  --text-color: #131715;
  --text-color-transparent: #13171550;
}

/* styles-dark.css */
[data-theme='dark'] {
  --background-color: #131715;
  --accent-color: #c72f1b;
  --text-color: white;
  --text-color-transparent: #ffffff50;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.hamburger-color {
  color: var(--text-color);
  background-color: var(--text-color);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 639px) {
  html {
    font-size: 14px;
  }
}
