.page-container {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
}
.gallery {
  width: 75vw;
  display: flex;
}

@media screen and (max-width: 639px) {
  .page-container {
    transition: all 1s ease-in-out;
    width: 100vw;
    display: flex;
    flex-direction: column !important;
  }
  .gallery {
    transition: all 1s ease-in-out;
    width: 100vw;
  }
}
