.cld-image__container {
  position: relative;
  cursor: pointer;
}
.cld-image__over {
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  opacity: 0;
}
.cld-image__over:hover {
  opacity: 40%;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  animation-duration: 300ms;
}
