.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  padding-right: 2rem;
  height: 100vh;
  overflow-y: scroll;
}

.gallery-column {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
  }
  .gallery--column {
    gap: 5px;
  }
}

@media screen and (max-width: 700px) {
  .gallery {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
    margin: 0;
  }
  .gallery--column {
    gap: 5px;
  }
}
