.navigation {
  overflow: hidden;
}
.btn {
  height: 2rem;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 500ms ease-in-out;
  text-align: left;
  line-height: normal;
  margin-top: 0.5rem;
}
.btn:hover {
  border-style: solid;
  border-width: 0; /* Reset all borders */
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.selected {
  color: var(--accent-color);
  font-weight: 600;
  padding-left: 0.5rem;
}
.checkbox {
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--text-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: var(--accent-color);
}

.checkbox-label .ball {
  background-color: var(--background-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
