.container {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-color: var(--background-color);
}
.shop-frame {
  margin: 3vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 1px solid var(--grey-color);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
  box-shadow: 0px 2px 10px -5px var(--text-color-transparent);
}
.btn-backprint {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.btn-backprint:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.showcase {
  padding: 2rem 0;
  flex-grow: 2;
  flex-basis: 66.66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.framed-wood {
  border-bottom-color: var(--wood-color-b);
  border-left-color: var(--wood-color-a);
  border-right-color: var(--wood-color-a);
  border-top-color: var(--wood-color-b);
  background: var(--wood-color-b);
  box-shadow: 0 0 5px 5px var(--text-color-transparent) inset,
    0 4px 5px 4px var(--text-color-transparent);
  border-style: solid;
}
.framed-black {
  border-bottom-color: var(--black-color-b);
  border-left-color: var(--black-color-a);
  border-right-color: var(--black-color-a);
  border-top-color: var(--black-color-b);
  background: var(--black-color-b);
  box-shadow: 0 0 5px 5px var(--text-color-transparent) inset,
    0 4px 5px 4px var(--text-color-transparent);
  border-style: solid;
}
.framed-white {
  border-bottom-color: var(--white-color-b);
  border-left-color: var(--white-color-a);
  border-right-color: var(--white-color-a);
  border-top-color: var(--white-color-b);
  background: var(--white-color-b);
  box-shadow: 0 0 5px 5px var(--text-color-transparent) inset,
    0 4px 5px 4px var(--text-color-transparent);
  border-style: solid;
}
.frame-mat {
  background-color: rgb(248 248 255);
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%) inset;
}
.frame-mat img {
  object-fit: contain;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
}

.options {
  flex-grow: 1;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
  padding: 3vw;
  border-left: 1px solid var(--grey-color);
}
.options label {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--grey-color);
}
.options select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid var(--grey-color);
  background-color: var(--background-color);
}
.btn {
  padding: 0.5rem 1rem;
  background-color: var(--grey-color);
  color: var(--background-color);
  border: 1px solid var(--grey-color);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
.btn:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}
.image-title {
  text-transform: capitalize;
  margin: 0.5rem 0;
}

@media screen and (max-width: 689px) {
  .content {
    flex-direction: column;
  }
  .shop-frame {
    margin: 0;
    border: none;
  }
  .options {
    border-left: none;
  }
}
