.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
}
.card-btn {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  padding-block: 0.2rem;
}
.img-container {
  position: relative;
  border-radius: 1rem;
}
.card-title {
  text-transform: capitalize;
}
