.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  z-index: 50;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  backdrop-filter: blur(4px);
}
.modal__backdrop {
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  opacity: 0.6;
}
.modal__popbox {
  position: relative;
  display: grid;
  gap: 0.5rem;
  background-color: var(--background-color);
  padding: 0.5;
  z-index: 10;
  box-shadow: 0 4px 6px -2px var(--background-color);
  transition-duration: 200ms;
  animation-duration: 200ms;
  border-radius: var(--radius);
  border-color: var(--background-color);
  margin: auto;
  border-width: 1rem;
  background-color: var(--background-color);
}
.modal__popbox--image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__popbox--image {
  object-fit: contain;
  max-height: 85vh;
  width: auto;
}
.modal__popbox--button-container {
  display: flex;
  flex-direction: column-reverse;
}
.modal__popbox--button-container button {
  margin-top: 0.5rem;
}
.btn {
  height: 2rem;
  width: 100%;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: all 200ms ease-in-out;
  text-align: center;
  line-height: normal;
  margin-top: 0.5rem;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.btn:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}
