.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  z-index: 50;
}
.modal__backdrop {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--background));
  opacity: 0.6;
}
.modal__popbox {
  position: relative;
  display: grid;
  gap: 0.5rem;
  background-color: hsl(var(--background));
  padding: 0.5;
  z-index: 10;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
  animation-duration: 200ms;
  border-radius: var(--radius);
  margin: auto;
  border-width: 1rem;
  border-color: hsl(var(--background));
  height: 80vh;
  overflow: scroll;
}
.modal__popbox section {
  padding: 0.5rem;
  width: 35rem;
  color: hsl(var(--primary));
  text-align: justify;
}
.modal__popbox section > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.portrait {
  float: right;
  margin: 1.5rem;
}
.portrait img {
  margin: 0;
}
.button__box {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 0.5rem;
}
