.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 1rem;
  padding-right: 2rem;
}
.gallery--column {
  display: flex;
  flex-direction: column;
}
.gallery--column > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 639px) {
  .gallery {
    gap: 1px;
    padding-right: 0;
    padding: 3px;
  }
  .gallery--column > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
